@font-face {
    font-family: 'Gilmer';
    src: url('Gilmer-Heavy.woff2') format('woff2'),
        url('Gilmer-Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilmer';
    src: url('Gilmer-Bold.woff2') format('woff2'),
        url('Gilmer-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilmer Outline';
    src: url('Gilmer-Outline.woff2') format('woff2'),
        url('Gilmer-Outline.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilmer';
    src: url('Gilmer-Regular.woff2') format('woff2'),
        url('Gilmer-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilmer';
    src: url('Gilmer-Medium.woff2') format('woff2'),
        url('Gilmer-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilmer';
    src: url('Gilmer-Light.woff2') format('woff2'),
        url('Gilmer-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

