<div class="client_say_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="client_say__title">
                    <h3>What clients say about Zamna</h3>
                </div>
                <div class="owl-carousel main_carousel">
                    <div class="item">
                        <div class="item_wrap">
                            <div class="slide_content">
                                <div class="item_logo">
                                    <img src="img/slider-logo.png" alt="#">
                                </div>
                                <div class="item_content__text">
                                    <p>In qui exercitation minim consectetur. Ullamco amet consectetur laboris commodo
                                        cupidatat exercitation sunt eu veniam excepteur enim. Eiusmod sunt mollit
                                        nostrud mollit deserunt veniam do. In aliqua deserunt dolor ullamco id et aliqua
                                        cupidatat non.</p>
                                </div>
                            </div>
                            <div class="slide_video">
                                <video controls poster="img/slide-poster.png" preload="none">
                                    <source src="img/on-culture.mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="item_wrap">
                            <div class="slide_content">
                                <div class="item_logo">
                                    <img src="img/slider-logo.png" alt="#">
                                </div>
                                <div class="item_content__text">
                                    <p>In qui exercitation minim consectetur. Ullamco amet consectetur laboris commodo
                                        cupidatat exercitation sunt eu veniam excepteur enim. Eiusmod sunt mollit
                                        nostrud mollit deserunt veniam do. In aliqua deserunt dolor ullamco id et aliqua
                                        cupidatat non.</p>
                                </div>
                            </div>
                            <div class="slide_video">
                                <video controls poster="img/slide-poster.png" preload="none">
                                    <source src="img/on-culture.mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="item_wrap">
                            <div class="slide_content">
                                <div class="item_logo">
                                    <img src="img/slider-logo.png" alt="#">
                                </div>
                                <div class="item_content__text">
                                    <p>In qui exercitation minim consectetur. Ullamco amet consectetur laboris commodo
                                        cupidatat exercitation sunt eu veniam excepteur enim. Eiusmod sunt mollit
                                        nostrud mollit deserunt veniam do. In aliqua deserunt dolor ullamco id et aliqua
                                        cupidatat non.</p>
                                </div>
                            </div>
                            <div class="slide_video">
                                <video controls poster="img/slide-poster.png" preload="none">
                                    <source src="img/on-culture.mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>