<div class="contact_form_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form_section__content">
                    For more information and to access our exclusive whitepapers please contact us
                </div>
            </div>
            <div class="col-md-6">
                <div id="footer_form" class="contact_form_wrap">
                    <div class="contact_form">
                        <form action="#" method="post">
                            <label for="name" class="display_none"></label>
                            <input type="text" id="name" name="name" placeholder="Name">
                            <label for="mail" class="display_none"></label>
                            <input type="text" id="mail" name="mail" placeholder="Email*">
                            <label for="in_textarea" class="display_none"></label>
                            <textarea name="in_textarea" rows="4" cols="40" placeholder="Message"
                                id="in_textarea"></textarea>
                            <div class="button_form_wrap">
                                <button type="submit" class="button_forms">Send</button>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="contact_form_blur"></div>
            </div>
        </div>
    </div>
</div>