/*Медиазапросы*/
@media (min-width: 0) and (max-width: 1600px) {

}

@media (min-width: 0) and (max-width: 1440px) {

}

@media (min-width: 0) and (max-width: 1366px) {

}

@media (min-width: 0) and (max-width: 1199px) {

}

@media (min-width: 0) and (max-width: 991px) {
    .hero_img {
        width: 495px;
        height: auto;
    }

    .about_section p {
        font-size: 22px;
    }

    .slide_video {
        max-width: 475px;
    }
}

@media (min-width: 0) and (max-width: 767px) {
    .main_menu {
        display: none;
    }

    .hero_img {
        width: 365px;
        height: auto;
    }

    .clients_item:last-child {
        display: none;
    }

    .about_section__video {
        margin: 0 auto;
    }

    .zamna_book_wrap {
        margin-left: 0;
    }

    a.webinar_section__item {
        margin: 0 auto;
        margin-bottom: 37px;
    }

    .blog_prev__item {
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .advantage__main_item {
        margin-top: 40px;
    }

    .item_wrap {
        justify-content: center;
    }

    .owl-dots {
        bottom: 60px;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .contact_form_wrap {
        justify-content: center;
        margin-top: 50px;
    }

    .footer_contacts {
        text-align: center;
    }

    .footer_social_wrap {
        justify-content: center;
        align-items: center;
    }

    .footer_socials {
        max-width: 100%;
        text-align: center;
        margin-right: 0px;
    }

    .social_link {
        justify-content: center;
        max-width: 100%;
    }

    .social_link a {
        margin-right: 25px;
    }

    .copyright, .politics {
        width: 100%;
        text-align: center;
    }

    .mobile_menu {
        display: block;
    }
}

@media (min-width: 0) and (max-width: 575px) {
    .hero_content {
        margin-top: 79px;
    }

    .hero_content h1 {
        font-size: 40px;
    }

    .hero_img {
        display: none;
    }

    .hero_img_small {
        display: block;
        right: 0;
        top: 19%;
    }

}

@media (min-width: 0) and (max-width: 479px) {
    .clients_section {
        margin-top: 60px;
    }

    .hero_content h1 {
        font-size: 40px;
        width: 220px;
        line-height: 56px;
    }

    .about_section {
        margin-top: 77px;
    }

    .about_section p {
        font-size: 24px;
    }

    .about_section p:last-child {
        margin-bottom: 48px;
    }

    .download_book_section {
        margin-top: 64px;
    }

    .download_book__title {
        font-size: 24px;
    }

    .vebinar_section {
        margin-top: 64px;
    }

    .webinar_section__title p {
        font-size: 18px;
    }

    .webinar_section__title {
        margin-bottom: 42px;
    }

    .blog_prev_section {
        margin-top: 72px;
    }

    .blog_section__title {
        margin-bottom: 31px;
    }

    .blog_section__title p {
        font-size: 18px;
        width: 185px;
    }

    .blog_prev__title {
        font-size: 22.7px;
    }

    .advantage_section {
        margin-top: 72px;
    }

    .advantage_section__title h4 {
        font-size: 24px;
    }

    .advantage_section__title {
        margin-bottom: 32px;
    }

    .advantage__main_item {
        padding: 0;
        width: 343px;
        height: 276px;
        vertical-align: middle;
        text-align: center;
        padding-top: 25%;
    }

    .advantage_item {
        text-align: center;
    }

    .client_say__title h3 {
        font-size: 32px;
        margin-bottom: 48px;
        margin-top: 48px;
    }

    .hiring_content h3 {
        font-size: 32px;
        text-align: center;
    }

    .hiring_content p {
        width: 228px;
        text-align: center;
    }

    .contact_form_section {
        margin-top: 72px;
    }

    .form_section__content {
        font-size: 25px;
        line-height: 36px;
    }

    .button_form_wrap {
        justify-content: flex-start;
    }

    .footer_contacts {
        font-size: 22px;
    }
}

@media (min-width: 0) and (max-width: 360px) {

}