@font-face {
    font-family: 'Gilmer';
    src: url('../fonts/Gilmer-Heavy.woff2') format('woff2'),
    url('../fonts/Gilmer-Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilmer';
    src: url('../fonts/Gilmer-Bold.woff2') format('woff2'),
    url('../fonts/Gilmer-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilmer Outline';
    src: url('../fonts/Gilmer-Outline.woff2') format('woff2'),
    url('../fonts/Gilmer-Outline.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilmer';
    src: url('../fonts/Gilmer-Regular.woff2') format('woff2'),
    url('../fonts/Gilmer-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilmer';
    src: url('../fonts/Gilmer-Medium.woff2') format('woff2'),
    url('../fonts/Gilmer-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilmer';
    src: url('../fonts/Gilmer-Light.woff2') format('woff2'),
    url('../fonts/Gilmer-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1200px;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding-right: 20px;
    padding-left: 20px;
}

.container {
    padding-right: 20px;
    padding-left: 20px;
}

.row {
    margin-right: -20px;
    margin-left: -20px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 20px;
    padding-left: 20px;
}

html{
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background: #18191A;
    color: #ffffff;
    font-family: 'Gilmer';
}

body.fix {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

a:focus {
    outline: none;
}

.main_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 32px;
    margin-top: 32px;
}

.main_header a {
    text-decoration: none;
    color: #ffffff;
}

.main_header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.main_menu li {
    margin-left: 32px;
}

.main_menu a {
    font-style: normal;
    font-weight: 600;
    font-size: 18.5373px;
    line-height: 22px;
}


.first_section {
    position: relative;
}

.hero_img {
    position: absolute;
    right: 0;
    top: 94px;
}

.hero_img_small {
    position: absolute;
    display: none;
}

.hero_content {
    margin-top: 128px;

}

.hero_content h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 76px;
}

.hero_content h1 span {
    color: #8F8F8F;
}


.hero_content p {
    margin-top: 32px;
    max-width: 460px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

a.contact_btn {
    margin-top: 48px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 196px;
    height: 48px;
    background: #ffffff;
    color: #000000;
    border-radius: 48px;
    box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}

.contact_btn svg {
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: -1px;
}

/* CLIENTS LIST SECTION */

.clients_section {
    margin-top: 159px;
}

.clients_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.clients_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 72px;
    width: 140px;
}


/* ABOUT SECTION*/

.about_section {
    margin-top: 160px;
}

.about_section p {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.about_section p:first-child {
    margin-bottom: 50px;
}

.about_section__video {
    width: 100%;
    max-width: 559px;
    height: 100%;
    max-height: 315px;
}

video {
    width: 100%;
    height: auto;
    max-height: 100%;
}

/* DOWNLOAD BOOK SECTION */

.download_book_section {
    margin-top: 151px;
}

.download_book__wrap {
    background: linear-gradient(96.19deg, #282828 0%, rgba(40, 40, 40, 0.3) 100.25%);
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.download_book__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 57px;
    padding-left: 48px;
}

.download_book__title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #ffffff;
}

a.learn_about_btn {
    margin-top: 34px;
    margin-bottom: 57px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 171px;
    height: 48px;
    background: #ffffff;
    color: #000000;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;

    border-radius: 48px;
    box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
}


.download_book__right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.download_book__right_bg {
    position: absolute;
    top: 0;
    right: -20px;
    z-index: 1;
}

.zamna_book_wrap {
    margin-left: 90px;
    width: 304px;
    height: 347px;
    margin-top: 28px;
    position: relative;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(60, 60, 60, 0.5);
}

.zamna_book {
    padding-left: 24px;
    padding-top: 32px;
    width: 294px;
    height: 347px;
    background: #141516;
    margin-right: 0px;
    margin-left: 10px;
}

.zalma_book__text {
    margin-top: 18px;
}

.zalma_book__text p {
    margin-bottom: 10px;
    margin-left: 2px;
}


/* WEBINAR SECTION */

.vebinar_section {
    margin-top: 160px;
}

.webinar_section__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 72px;
}

.webinar_section__title h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #ffffff;
    width: 100%;
    text-align: center;
}

.webinar_section__title p {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
    color: #CBCBCB;
    width: 100%;
    text-align: center;
}


/* .webinar_section__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 72px;
} */

a.webinar_section__item {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    margin-bottom: 37px;
}

.webinar_section__item {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 559px;
    height: 100%;
    max-height: 315px;
}

.webinar_section__item img {
    width: 100%;
    max-width: 559px;
    height: auto;
}

.webinar_section_content {
    width: 100%;
    max-width: 559px;
    height: 100%;
    max-height: 315px;
}

.webiner_section__text {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 16px;
    padding-left: 24px;
}

/* BLOG PREVIEW SECTION */

.blog_prev_section {
    margin-top: 186px;
    margin-bottom: 48px;
}


.blog_section__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 72px;
}

.blog_section__title h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #ffffff;
    width: 100%;
    text-align: center;


}

.blog_section__title p {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
    color: #CBCBCB;
    width: 100%;
    text-align: center;
}

.blog_prev__item {
    width: 100%;
    max-width: 558px;
    height: auto;
}

.blog_prev__img {
    width: 100%;
    max-width: 558px;
    height: 100%;
    max-height: 314px;
}

.blog_prev__img img {
    width: 100%;
    height: auto;
}

.blog_prev__text {
    margin-top: 24px;
}

.blog_prev__title {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #D7D7D7;
}

.blog_prev__desc {
    margin-bottom: 16px;
    max-width: 362px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #C3C3C3;
}

.datetime {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
}

/* ADVANTAGE SECTION */

.advantage_section {
    margin-top: 160px;
}

.advantage_section__title {
    margin-bottom: 55px;
}

.advantage_section__title h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #CBCBCB;
}

.advantage_item_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.advantage__main_item {
    width: 100%;
    max-width: 558px;
    border: 1px solid #505050;
    padding-top: 39px;
    padding-bottom: 39px;
    padding-left: 98px;
}

.advantage__main_item h6 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    margin-bottom: 8px;
}

.advantage__main_item p {
    width: 100%;
    max-width: 362px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
}

.advantage_item {
    margin-top: 40px;
    width: 100%;
    max-width: 345px;
}

.advantage_item__title {
    margin-top: 4px;
    margin-bottom: 15px;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #EBEBEB;
}

.advantage_item_subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #C3C3C3;
    margin: 0;
}

.advantage_item img {
    width: 100%;
    max-width: 40px;
    height: 100%;
    max-height: 40px;
}


/* CLIENTS SAY SECTION */

.client_say_section {
    margin-top: 80px;
    background-color: #1B1C1D;
}

.client_say__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.client_say__title h3 {
    text-align: left;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 64px;
    margin-top: 71px;
}

/* SLIDER */

.item_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 96px;
}

.slide_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.item_logo {
    width: 100%;
    max-width: 242px;
    height: 100%;
    max-height: 38px;
}

.item_logo img {
    width: 100%;
    height: auto;
    max-width: 242px;
    max-height: 38px;
}


.item_content__text {
    width: 100%;
    max-width: 460px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    margin-top: 48px;
}

.slide_video {
    width: 100%;
    height: auto;
    max-width: 556px;
    max-height: 340px;
}

.owl-dots {
    position: absolute;
    bottom: 95px;
    display: flex;
}


.main_carousel button.owl-dot {
    /* background-image: url(../img/line-disable.png); */
    width: 63px;
    height: 2px;
    display: block;
    background: #505050 !important;

}

.main_carousel button.owl-dot.active {
    /* background-image: url(../img/line-active.png); */
    width: 63px;
    height: 2px;
    display: block;
    background: rgb(255, 255, 255) !important;
}

button:focus {
    outline: none !important;
}

/* HIRING SECTION */

.hiring_section {
    margin-top: 80px;
}

.hiring_content {
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(96.19deg, #282828 0%, rgba(40, 40, 40, 0.3) 100.25%);
}

.hiring_content h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 56px;
    color: #ffffff;
}

.hiring_content p {
    margin-top: 16px;
    margin-bottom: 48px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #C3C3C3;
}

a.hiring_mail_btn {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 48px;
    background: #fff;
    color: #000;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    border-radius: 48px;
}


/* CONTACT FORM SECTION */

.contact_form_section {
    margin-top: 160px;
}

.form_section__content {
    width: 100%;
    max-width: 453px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 56px;
    color: #F7F9FC;
}

.contact_form_wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.contact_form {
    width: 100%;
    max-width: 460px;
}

.contact_form form input, textarea {
    width: 100%;
    outline: none;
}

.contact_form form input {
    height: 48px;
    background: #282828;
    color: #ffffff;
    border: none;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 28px;
    padding-left: 10px;
}

input::-webkit-input-placeholder {
    color: #ffffff;
    font-size: 16px;
    padding-left: 10px;
}

input::-moz-placeholder {
    color: #ffffff;
    font-size: 16px;
    padding-left: 10px;
}

/* Firefox 19+ */
input:-moz-placeholder {
    color: #ffffff;
    font-size: 16px;
    padding-left: 10px;
}

/* Firefox 18- */
input:-ms-input-placeholder {
    color: #ffffff;
    font-size: 16px;
    padding-left: 10px;
}

input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.contact_form form textarea {
    background: #282828;
    color: #ffffff;
    border: none;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 28px;
    padding-left: 10px;
}

textarea::-webkit-input-placeholder {
    color: #ffffff;
    font-size: 16px;
    padding-left: 10px;
}

textarea::-moz-placeholder {
    color: #ffffff;
    font-size: 16px;
    padding-left: 10px;
}

/* Firefox 19+ */
textarea:-moz-placeholder {
    color: #ffffff;
    font-size: 16px;
    padding-left: 10px;
}

/* Firefox 18- */
textarea:-ms-input-placeholder {
    color: #ffffff;
    font-size: 16px;
    padding-left: 10px;
}

textarea::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

textarea::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

textarea:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

textarea:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

textarea:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

textarea:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

textarea:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

textarea:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.display_none {
    display: none;
}


.button_form_wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.button_forms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 48px;
    background: #fff;
    color: #000;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    border-radius: 48px;
    border: none;
    outline: none;
}

/* FOOTER */

.main_footer {
    margin-top: 128px;
}

.footer_contacts {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.footer_contacts p {
    margin-bottom: 7px;
}

.footer_contacts a {
    text-decoration: none;
    color: #ffffff;
}

.footer_social_wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.footer_socials {
    width: 100%;
    max-width: 200px;
    margin-right: 62px;
}

.footer_socials p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 21px;
}

.social_link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 145px;
}

/* BOTTOM LINE */

.bottom_line {
    margin-top: 72px;
    margin-bottom: 48px;
}

.bottom_line_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.copy {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}

.politics a {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
}

.politics a:first-child {
    margin-right: 55px;
}

/*Mobile Menu*/

.mobile_menu {
    display: none;
}

.mobile_menu_list {
    display: none;
}

.mobile_menu_open a {
    width: 29px;
    height: 32px;
    /*background: red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mobile_menu_open a span {
    position: relative;
    width: 21px;
    height: 3px;
    border-radius: 3px;
    background: #FFFFFF;
    display: flex;
    transition: 0.3s ease;
}

.mobile_menu_open a:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 4px;
    width: 21px;
    height: 3px;
    border-radius: 3px;
    background: #FFFFFF;
    display: flex;
    transition: 0.3s ease;
    opacity: 1;
    transition: 0.3s ease;
}

.mobile_menu_open a:after {
    content: '';
    position: absolute;
    top: 23px;
    left: 4px;
    width: 21px;
    height: 3px;
    border-radius: 3px;
    background: #FFFFFF;
    display: flex;
    transition: 0.3s ease;
    opacity: 1;
    transition: 0.3s ease;
}

.mobile_menu_open a.active span {
    opacity: 0;
    transition: 0.3s ease;
}

.mobile_menu_open a.active:before {
    transform: rotate(-45deg);
    top: 15px;
}

.mobile_menu_open a.active:after {
    transform: rotate(45deg);
    top: 15px;
}

.mobile_menu_list.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: auto;
    min-height: calc(100vh - 100px);
    margin-top: 100px;
    background: #18191A;
    z-index: 2;

    position: absolute;
    top: 0;
    left: 0;
    padding: 16px;
}

.mobile_menu_list.active ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.mobile_menu_list.active ul li {
    margin-bottom: 48px;
}

.mobile_menu_list.active ul li:last-child {
    margin-bottom: 0;
}

.mobile_menu_list.active ul li a {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 155%;
    text-align: center;
    color: #FFFFFF;
}

.mobile_menu_list_btn {
    margin-top: 48px;
}

.mobile_menu_list_social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 43px;
}

.mobile_menu_list_social a {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 34px;
}

.mobile_menu_list_social a:last-child {
    margin-right: 0;
}

.mobile_menu_list_policy {
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
}

.mobile_menu_list_policy a {
    margin-right: 29px;
}

.mobile_menu_list_policy a:last-child {
    margin-right: 0;
}


/* ------------------------------COMPANY PAGE------------------------------- */

/* TRANSFORMING SECTION */

.company_transforming_section {
    margin-top: 116px;
}

.company_transforming__title {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 56px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.company_transmorming_content {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    color: #C3C3C3;
}

.company_transmorming_content p {
    margin-bottom: 35px;
}

.mission_section__title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 42px;
    color: #CBCBCB;
    margin-top: 64px;
    margin-bottom: 82px;
}

.mission_section__title p {
    margin: 0;
}


.mission_section_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 245px;
}

.mission_item_wrap {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}

.mission_item_title {
    margin-bottom: 10px;
}

.mission_item_content {
    color: #C3C3C3;
}

.big_item_dot {
    margin-right: 5px;
}

.company_mission_section {
    margin-bottom: 78px;
}

/* COMPANY PAGE SECTION */

.company_press_section {
    background: #222323;
    padding-top: 80px;
    padding-bottom: 90px;
}

.press_section_title {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 55px;
}

a.press_section_item {
    width: 100%;
    max-width: 340px;
    margin-bottom: 70px;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.press_item_text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    margin-top: 40px;
}

.press_item_img {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.company_awards_section {
    margin-top: 40px;
}

.awards_section_title {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 56px;
}

a.awards_section_item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    max-width: 267px;
    height: 100%;
    min-height: 197px;
    text-decoration: none;
    color: #D7D7D7;
    border-bottom: 2px solid #505050;
    transition: .5s ease;
}

a.awards_section_item:hover {
    border-bottom: 2px solid #ffffff;
    transition: .5s ease;
}

.awards_item_text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #D7D7D7;
    margin-top: 16px;
}

.awards_item_img {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


/*Bread Crumbs*/
.bread__crumbs {
    margin: 53px 0 18px;
}

.bread__crumbs a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
}

/*Premium Post*/
.premium__post_head {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #D7D7D7;
    margin-top: 18px;
}

.premium__post_text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 155%;
    color: #C3C3C3;
    margin-top: 16px;
}

.premium__post_img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: auto;
    min-height: 308px;
}

.premium__post_label {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 18px;
}

.premium__post_label-text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #18191a;
    padding: 0 18px;
    height: 24px;
    background: #fff;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.premium__post_link {
    margin-top: 32px;
}

.premium__post_link a {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #18191A;

    width: max-content;
    height: 44px;

    background: #FFFFFF;
    border-radius: 44px;
    padding: 0 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.premium__post_line {
    margin-top: 49px;
    width: 100%;
    height: 1px;
    border-top: 0.5px solid #282828;
}

.block-head {
    margin-top: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #D7D7D7;
    text-align: center;
}

#pills-tab {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin: 0 44px;
}

a.sort-link {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #C3C3C3;
    text-decoration: none;
    text-transform: uppercase;
}

a.sort-link.active {
    position: relative;
}

a.sort-link.active:before {
    content: '';
    width: 150%;
    height: 2px;
    background: #FFFFFF;
    display: block;
    position: absolute;
    left: -25%;
    bottom: -12px;
}

.short__post {
    display: flex;
    flex-wrap: wrap;
    margin: 45px 0;
}

.short__post_img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: auto;
    min-height: 265px;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.short__post_info {
    width: calc(50% - 30px);
    margin-left: 30px;
}

.short__post_info-head {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #D7D7D7;
}

.short__post_info-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #C3C3C3;
    margin-top: 8px;
}

.short__post_info-date {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 13px;
}

.short__post_info-link {
    margin-top: 42px;
}

.short__post_info-link a {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.short__post_info-link a svg {
    margin-left: 24px;
}

.short__post_label {
    width: 100%;
    height: 55px;
    background: linear-gradient(180deg, rgba(24, 25, 26, .3) 0, rgba(24, 25, 26, 0) 100%);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 18px;
}

.short__post_label-text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #18191a;
    padding: 0 18px;
    height: 24px;
    background: #fff;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}

a.webinars__link {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 203px;
    padding: 10px 15px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 155%;
    color: #FFFFFF;
    text-decoration: none;
    margin: 48px 0 0;
}

/**/
.post__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
}

.post__info_date {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 24px;
}

.post__info_label-text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #18191a;
    padding: 0 18px;
    height: 24px;
    background: #fff;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.post__head {
    margin-top: 24px;
}

.post__head h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
}

.post__except {
    width: 100%;
    max-width: 360px;
    margin-top: 16px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 155%;
    color: #C3C3C3;
}

.post__text img {
    margin-top: 34px;
}

.post__text h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    color: #C3C3C3;
    margin-top: 48px;
}

.post__text p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 173%;
    color: #C3C3C3;
    margin-top: 16px;
}

.post__text p b {
    color: #FFFFFF;
}

.post__text ul {
    margin: 0;
    padding: 0 0 0 10px;
}

.post__text ul li {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    color: #C3C3C3;
}

.post__text ul li::marker {
    font-size: 10px;
}

.split-line {
    margin-top: 49px;
    width: 100%;
    height: 1px;
    border-top: 0.5px solid #282828;
}

.subscription {
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
}

.subscription form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.subscription form input {
    height: 48px;
    background: #282828;
    color: #ffffff;
    border: none;
    margin-right: 24px;
    font-size: 16px;
    line-height: 28px;
    padding-left: 10px;
    width: 100%;
}

.block-slag {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    color: #C3C3C3;
    text-align: center;
    margin-top: 8px;
}

/*Question*/
#accordion {
    margin-top: 32px;
}

.question__head {
    width: 100%;
    height: auto;
    min-height: 336px;
    display: flex;
    align-items: center;

    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 64px;
    color: #FFFFFF;
}

.accordion__head:focus {
    outline: none;
}

.accordion_info {
    position: relative;
    border: 1px solid #D7D7D7;
    margin-bottom: 56px;
    padding: 24px 352px 24px 40px;
}

.accordion__head {
    position: relative;
}

.accordion__head:before {
    content: url("../img/accordion_arrow.svg");
    position: absolute;
    top: 55px;
    right: -280px;
    width: 20px;
    height: 20px;
    transition: 300ms ease;
    cursor: pointer;
}

.accordion__head.ui-state-active:before {
    transform: rotate(+180deg);
    transition: 300ms ease;
}

.accordion__head h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    color: #C3C3C3;
    cursor: pointer;
}

.accordion__head p,
.accordion__content p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 173%;
    color: #C3C3C3;
}

.accordion__content p {
    margin-top: 32px;
}


.question__imag {
    position: relative;
}

/*Webinar*/
.webinar__speaker {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 62px;
}

.webinar__speaker_img{
    margin-right: 24px;
}

.webinar__speaker_img img{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.webinar__speaker_info-name{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.webinar__speaker_info-post{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #505050;
}

.webinar__data{
    margin-top: 28px;
}

.webinar__data_name{
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 42px;
    color: #FFFFFF;
}

.webinar__data_time {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.webinar__data_time-info{
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #505050;
    margin-right: 34px;
}

.webinar__data_time-info:before {
    content: '';
    width: 2px;
    height: 2px;
    border-radius: 2px;
    background: #505050;
    position: absolute;
    top: 12px;
    right: -18px;
}

.webinar__data_time-info:last-child:before{
    display: none;
}

.webinar__data_label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 26px;
}

.webinar__data_label-text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #18191a;
    padding: 0 18px;
    height: 24px;
    background: #fff;
    backdrop-filter: blur(2px);
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;

    margin-right: 20px;
}

.webinar__video_link {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    min-height: 644px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 28px;
}

.grey-block {
    padding: 19px 0;
    background: #222323;
    margin-top: 65px;
}

.grey__text{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.webinar__text {
    margin-top: 64px;
}

.webinar__text p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 155%;
    color: #FFFFFF;
}

.webinar__foot .webinar__speaker {
    margin-top: 32px;
}

.webinar__foot_share {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 32px;
    min-height: 40px;
}

.webinar__foot_share-text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 155%;
    text-align: center;
    color: #FFFFFF;
    margin-right: 47px;
}

.webinar__foot_share-link a {
    margin-left: 25px;
    text-decoration: none;
}

.webinar__foot_share-link a:first-child {
    margin-left: 0;
}
