@font-face {
    font-family: 'Gilmer';
    src: url('../fonts/Gilmer-Heavy.woff2') format('woff2'),
        url('../fonts/Gilmer-Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilmer';
    src: url('../fonts/Gilmer-Bold.woff2') format('woff2'),
        url('../fonts/Gilmer-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilmer Outline';
    src: url('../fonts/Gilmer-Outline.woff2') format('woff2'),
        url('../fonts/Gilmer-Outline.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilmer';
    src: url('../fonts/Gilmer-Regular.woff2') format('woff2'),
        url('../fonts/Gilmer-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilmer';
    src: url('../fonts/Gilmer-Medium.woff2') format('woff2'),
        url('../fonts/Gilmer-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilmer';
    src: url('../fonts/Gilmer-Light.woff2') format('woff2'),
        url('../fonts/Gilmer-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}



.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1200px;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding-right: 20px;
    padding-left: 20px;
}

.container {
    padding-right: 20px;
    padding-left: 20px;
}

.row {
    margin-right: -20px;
    margin-left: -20px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 20px;
    padding-left: 20px;
}


body{
    background: #18191A;
    color: #ffffff;
    font-family: 'Gilmer';
}

.main_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 32px;
    margin-top: 32px;
}

.main_header a{
    text-decoration: none;
    color: #ffffff;
}

.main_header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
} 

.main_menu li{
    margin-left: 32px;
}

.main_menu a{
font-family: 'Gilmer';
font-style: normal;
font-weight: 600;
font-size: 18.5373px;
line-height: 22px;
}




.first_section{
    position: relative;
}

.hero_img{
    position: absolute;
    right: 0;
    top:94px;
}

.hero_content{
    margin-top: 128px;

}

.hero_content h1{
    font-family: Gilmer;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 76px;
}

.hero_content h1 span{
    color: #8F8F8F;
}


.hero_content p{
    margin-top: 32px;
    max-width: 460px;
    font-family: Gilmer;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

a.contact_btn{
    margin-top: 48px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 196px;
    height: 48px;
    background:#ffffff;
    color: #000000;
    border-radius: 48px;
    box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);

    font-family: Gilmer;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;  
}

.contact_btn svg{
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: -1px;
}

 /* CLIENTS LIST SECTION */

 .clients_section{
     margin-top: 159px;
 }

 .clients_list{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
 }

 .clients_item{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     height: 72px;
 }


 /* ABOUT SECTION*/

 .about_section{
     margin-top: 160px;
 }

 .about_section p{
    font-family: Gilmer;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
 }

 .about_section p:first-child{
     margin-bottom: 50px;
 }

 .about_section__video{
     width: 100%;
     max-width: 559px;
     height: 100%;
     max-height: 315px;
 }

 video{
     width: 100%;
     height: auto;
     max-height: 100%;
 }

 /* DOWNLOAD BOOK SECTION */

 .download_book_section{
     margin-top: 151px;
 }

 .download_book__wrap{
    background: linear-gradient(96.19deg, #282828 0%, rgba(40, 40, 40, 0.3) 100.25%);
    display: flex;
    flex-direction: row;
    overflow: hidden;
 }

 .download_book__left{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
     padding-top: 57px;
     padding-left: 48px;
 }

 .download_book__title{
    font-family: Gilmer;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color:#ffffff;
 }

 a.learn_about_btn{
     margin-top: 34px;
     margin-bottom: 57px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 171px;
    height: 48px;
    background:#ffffff;
    color: #000000;
    
    font-family: Gilmer;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;

    border-radius: 48px;
    box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
 }


 .download_book__right{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
 }

 .download_book__right_bg{
     position: absolute;
     top: 0;
     right: -20px;
     z-index: 1;
 }

 .zamna_book_wrap{
    margin-left: 90px;
    width: 304px;
    height: 347px;
    margin-top: 28px; 
    position: relative;
    right: 0;
    bottom:0;
    z-index: 2;
    background-color: rgba(60, 60, 60, 0.5);
 }

 .zamna_book{
     padding-left: 24px;
     padding-top: 32px;
     width: 294px;
     height: 347px;
     background: #141516;
     margin-right: 0px;
     margin-left: 10px;
 }

 .zalma_book__text{
     margin-top: 18px;
 }

 .zalma_book__text p{
     margin-bottom: 10px;
     margin-left: 2px;
 }


 /* WEBINAR SECTION */

 .vebinar_section{
     margin-top: 160px;
 }

 .webinar_section__title{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     margin-bottom: 72px;
 }

 .webinar_section__title h4{
    font-family: Gilmer;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #ffffff;
    width: 100%;
    text-align: center;
 }

 .webinar_section__title p{
    font-family: Gilmer;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
    color: #CBCBCB;
    width: 100%;
    text-align: center;
 }


 /* .webinar_section__list{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     margin-top: 72px;
 } */

 a.webinar_section__item{
    text-decoration: none;
    font-family: Gilmer;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    margin-bottom: 37px;
 }

 .webinar_section__item{
     position: relative;
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     align-items: flex-start;
     max-width: 559px;
    height: 100%;
    max-height: 315px;
 }

 .webinar_section__item img{
     width: 100%;
     max-width: 559px;
     height: auto;
 }

 .webinar_section_content{
    width: 100%;
    max-width: 559px;
    height: 100%;
    max-height: 315px;
 }

 .webiner_section__text{
    position:absolute;
    top: 0;
    left: 0;
    padding-top: 16px;
    padding-left: 24px;
 }

 /* BLOG PREVIEW SECTION */

 .blog_prev_section{
     margin-top: 186px;
     margin-bottom: 48px;
 }


 .blog_section__title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 72px;
}

.blog_section__title h4{
   font-family: Gilmer;
   font-style: normal;
   font-weight: 600;
   font-size: 32px;
   line-height: 44px;
   color: #ffffff;
    width: 100%;
    text-align: center;

   
}

.blog_section__title p{
   font-family: Gilmer;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 42px;
   color: #CBCBCB;
   width: 100%;
   text-align: center;  
}

.blog_prev__item{
    width: 100%;
    max-width: 558px;
    height: auto;
}

.blog_prev__img{
    width: 100%;
    max-width: 558px;
    height: 100%;
    max-height: 314px;
}

.blog_prev__img img{
    width: 100%;
    height: auto;
}

.blog_prev__text{
    margin-top: 24px;
}

.blog_prev__title{
    margin-bottom: 16px;
    font-family: Gilmer;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #D7D7D7;
}

.blog_prev__desc{
    margin-bottom: 16px;
    max-width: 362px;
    font-family: Gilmer;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #C3C3C3;
}

.datetime{
    font-family: Gilmer;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
}

/* ADVANTAGE SECTION */

.advantage_section{
    margin-top: 160px;
}

.advantage_section__title{
    margin-bottom: 55px;
}

.advantage_section__title h4{
    font-family: Gilmer;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #CBCBCB;
}